.autoListDiv {
  position: relative;
}

@media (max-width: 767px) {
    .autoListDiv > a > img {
        opacity: 0%;
    }
}

.autoList {
  position: absolute;
  width: 75%;
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(31, 27, 27);
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

@media (max-width: 767px) {
    .autoList {
        font-size: 13px;
    }
}

.reqServBtn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider {
    color: #ef8376;
}

/* After the submit button and before the description */

#reqFormHR {
    position: relative;
    display: block;
    border: 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
    width: 100%;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #reqFormHR {
        margin-left: 15%;
    }
}

/* */

/* div for middle date and time */
.dandtDiv > p {
    text-align: center;
    font-weight: 400;
    color: #000000;
    margin-top: 1em;
}
/*  */

/* Form input for date & time */

.dateAndTime {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 767px) {
    .dateAndTime {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.primaryDT {
    width: 33%;
}

.secondaryDT {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 33%;
}

/*  */

/* WarningMsg&Btn */

.warnMsgandBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

@media (max-width: 767px) {
    .warnMsgandBtn {
        flex-direction: column;
    }
}

.warningMsg {
    background: #feffce;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 1px;
}

@media (max-width: 767px) {
    .warningMsg {
        margin-bottom: 10px;
        font-size: 12px;
    }
}

/*  */

/*  ABOUT SECTION P & H2 */

.aboutH2 {
    font-size: 2em;
}

@media (max-width: 767px) {
    .aboutH2 {
        font-size: x-large;
    }
}

.aboutP {
    font-size: 140%
}

@media (max-width: 767px) {
    .aboutP {
        font-size: 100%;
        text-align: center;
    }
}
/*  */

/* carousel FONT! */

@media (max-width: 767px){
    .longServiceName {
        font-size: 75%;
    }
}

/*  */
